.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: center;
}
    
.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

mat-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    //justify-content: center;
    //border: 1px solid black;
    background-color: #F3F1EA;
    border-radius: 40px;
    padding: 30px;

    // width: 50%;
    // height: 40%;
}
mat-card-header{
      justify-content: center;
}
.input-form-container{
    display: flex;
    justify-content: center;
}
.input-form-container > * {
    width: 100%;
}

mat-card-actions{
    display: flex;
    justify-content: center; 
}


#icon-back{
    font-size: 3em;
}
.button-footer{
    height: 64px; 
}



