
<hr>
<div class="container">
  <!-- <div class="header">
    <h1>Locatie</h1>
  </div> -->
  <div class="main">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Geef uw locatie in</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="input-form-container">
          <mat-form-field color='accent' appearance="fill">
            <mat-label>Stad</mat-label>
            <input #cityName matInput appGooglePlaces type="text" class="google-place-input">
            <button mat-button *ngIf="cityName.value" matSuffix mat-icon-button aria-label="Clear" (click)="cityName.value=''">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon *ngIf="cityName.value==''" matSuffix>location_city</mat-icon>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent" (click)="changeCity(cityName.value)">BEWERKEN</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>