#calendar-list{
    height: 32em;
    overflow: auto;
}

.calendar-list-item {
    color: white;
    font-size: 1.2em;
    margin-bottom: 10%;
    border-radius: 10px;
    margin-right: 2%;
}

p {
    text-align: left;
}

span {
    float: right;
}
