<div class="container-header">
        <h1></h1>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]= "addUserForm" >
                <!--Table-->
                <table>
            
                    <!--Table head-->
                    <thead>
                        <tr>
                            <th>Gezinsleden</th>
                            <th class="align-right">
                                <button class="button" mat-mini-fab color="primary"
                                (click)="addUser = !addUser">
                                <mat-icon >add</mat-icon>
                                </button>
                            </th>
                            <!-- <th  class="font-weight-bold">Agenda</th> -->
                        </tr>
                    </thead>
                    <!--Table head-->
                
                    <!--Table body *ngFor="let country of completeList; let i = index"-->
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.title}}</td>
                            <td class="align-right">
                                <button class="button" mat-mini-fab color="primary" (click)="updateUser()">
                                    <mat-icon>create</mat-icon>
                                </button>
                                <button class="button" mat-mini-fab color="primary" (click)="deleteUser()">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </td>
                            
                            <!-- <td>{{user.Agenda}}</td> -->
                        </tr>
                        <tr *ngIf="addUser">
                            
                                <td><input class="form-control" type="text" id="title" formControlName="title"></td>
                                
            
                            
                        </tr>
                    </tbody>
                    <!--Table body-->
            
                </table>

            </form>
                <!--Table-->
        </div>
    
        <div class="col-sm-8"> hallo</div>
    </div>
       
    <app-auth></app-auth>

    <button class="update-user-button" mat-fab color="primary" (click)="saveUser()">
        <mat-icon>Ok</mat-icon>
    </button>

    <button class="button-back" mat-button color="primary" routerLink="/options">
        <i class="material-icons" id="icon-back">chevron_left</i>
    </button>
</div>
