hr{
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 7em;
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: space-between;
    padding: 0;
    height: 80vh;
    
    //margin: 2em;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

mat-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 40px;
    //justify-content: center;
    //border: 1px solid black;
     padding: 30px;
     
}


mat-card-header{
    justify-content: center;
}

.input-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.input-form-container > * {
    width: 100%;
}




// .container-footer{
//     display: flex;
//     justify-content: flex-end;
// }

// .left{
//     flex-grow:1;
// }

.right{
    flex-grow: 5;
}

//   .align-right{
//       text-align: right;
//   }


//   table th{
//       font-size: 1.8em;
//       padding: 0;
//       font-weight: normal;
      
//      padding-bottom: 1em;
//      padding-top: 0.5em;
//   }


//   table td{
//       font-size: 1.2em;
//   }


.kleurenContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.kleur{
    width: 30px;
    height: 30px;
    border-radius: 25%;
}

.clicked{
    width: 30px;
    height: 30px;
    border-radius: 25%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

// .material-icons{
//     color: black;
// }

// .button-footer{
//     height: 64px;
//     margin-right: 4em;
// }

// #icon-back{
//     font-size: 3em;
// }

.google-calendar-icon{
    height: 100%;
    
}

.google-calendar-button{
//height: 100px;
//width: 200px;
//padding: 10px
}

mat-list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

mat-action-list{
    display: flex;
    align-items: center;
    
}
// .google-icon-account{
//     // margin: 10px;
// }

.diaglog-container{
    margin-left: 25px;
    margin-right: 25px;
}

.mat-card-dialog{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 40px;
    //justify-content: center;
    //border: 1px solid black;
     padding: 30px;
}