hr{
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 7em;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    height: 80vh;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
}

  .align-right{
      text-align: right;
  }


  table th{
      font-size: 1.8em;
      padding: 0;
      font-weight: normal;
      
     padding-bottom: 1em;
     padding-top: 0.5em;
  }


  table td{
      font-size: 1.2em;
  }

  .button{
      margin-right: 1em;
  }


//   .update-user-button {
// 	position: absolute;
// 	bottom: 50px;
// 	right: 4em;
// 	z-index: 1;
// 	color: white;
// }

.kleurenContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.kleur{
    width: 30px;
    height: 30px;
    border-radius: 25%;
}

.clicked{
    width: 30px;
    height: 30px;
    border-radius: 25%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 25%;
}
.material-icons{
    color: black;
}

.button-footer{
    height: 64px; 
    margin-left:40px; 
}

#icon-back{
    font-size: 3em;
}