<div class="container-header">
  <h1>Instellingen</h1>
</div>

<div class="container-options">
  <button mat-raised-button class="button" color="primary" (click)="goTo('wifi')">
    <i class="material-icons" id="icons-menu">wifi</i>
    <h3>WiFi</h3>
  </button>

  <button mat-raised-button class="button" color="primary" (click)="goTo('thema')">
    <i class="material-icons" id="icons-menu">color_lens</i>
    <h3>Thema</h3>
  </button>

  <button mat-raised-button class="button" color="primary" (click)="goTo('locatie')">
    <i class="material-icons" id="icons-menu">location_city</i>
    <h3>Locatie</h3>
  </button>

  <button mat-raised-button class="button" color="primary" (click)="goTo('scherm')">
    <i class="material-icons" id="icons-menu">tablet</i>
    <h3>Scherm</h3>
  </button>

  <button mat-raised-button class="button" color="primary" (click)="goTo('users')">
    <i class="material-icons" id="icons-menu">group</i>
    <h3>Accounts</h3>
  </button>

</div>
<div class="container-footer">
  <button class="button-footer" mat-button color="primary" (click)="goTo('calendar')">
    <i class="material-icons" id="icon-back">chevron_left</i>
  </button>

</div>