.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    padding: 0;
}

.button{
    width: 18%;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

#icons-menu{
    font-size: 10em;
}


.button-footer{
    height: 64px; 
    margin-left:40px; 
}

#icon-back{
    font-size: 3em;
}

hr{
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 7em;
}
  



