<div class="container-header">
  <h1></h1>
</div>
<hr>
<div class="container">
  <button mat-flat-button class="button" color="primary" routerLink="/home/settings/wifi">
    <i class="material-icons" id="icons-menu">wifi</i>
    <h3>WiFi</h3>
  </button>

  <button mat-flat-button class="button" color="primary" routerLink="/home/settings/thema">
    <i class="material-icons" id="icons-menu">color_lens</i>
    <h3>Thema</h3>
  </button>

  <button mat-flat-button class="button" color="primary" routerLink="/home/settings/locatie">
    <i class="material-icons" id="icons-menu">location_city</i>
    <h3>Locatie</h3>
  </button>

  <button mat-flat-button class="button" color="primary" routerLink="/home/settings/scherm">
    <i class="material-icons" id="icons-menu">tablet</i>
    <h3>Scherm</h3>
  </button>

  <button mat-flat-button class="button" color="primary" routerLink="/home/settings/users">
    <i class="material-icons" id="icons-menu">group</i>
    <h3>Accounts</h3>
  </button>

</div>

<div class="container-footer">
  <button class="button-footer" mat-flat-button color="primary" routerLink="/home/calendar">
    <i class="material-icons" id="icon-back">chevron_left</i>
</button>

</div>