<div class="container">
  <div class="header">
    <h1>Wifi Netwerken</h1>
  </div>
  <div class="main">
    <div class=wifi-list-card>
      <div class=wifi-list-card-inner>
        <p>{{loaded}}</p>        
        
        <div class=wifi-list-item *ngFor="let network of networksObs | async">
          hey
          <!-- <mat-card class="wifi-card" (click)="selectClick(network)">
            <p class="wifi-name">{{network.ssid}}</p>
            <p class="wifi-name">{{network.quality}}%</p>
            <img src="" *ngIf="network.strength == 1">
            <img src="" *ngIf="network.strength == 2">
            <img src="" *ngIf="network.strength == 3">
            <div *ngIf="network.selected">
              <input matInput type="text" placeholder="paswoord"[(ngModel)]=passwd>
              <button (click)="connect(network)">Verbinden</button>
            </div>
         </mat-card> -->
        </div>
        
        <div>{{networks?.length}}</div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="button-footer" mat-button color="primary" routerLink="/options">
      <i class="material-icons" id="icon-back">chevron_left</i>
    </button>
  </div>
</div>
