
<hr>
<div class="container">
  <!-- <div class="header">
      <h1>Scherm</h1>
  </div> -->
  <div class="main">
    <div class="brightness">
      <mat-icon>brightness_low</mat-icon>
      <mat-slider thumbLabel tickInterval="1000" color='primary' min="1" max="100" style="width: 500px;"></mat-slider>
      <mat-icon>brightness_high</mat-icon>
    </div>
    <div class="sleep-mode">
      <mat-icon>brightness_3</mat-icon>
      <mat-slider thumbLabel tickInterval="1000" min="1" max="100" style="width: 500px;"></mat-slider>
      <mat-icon>brightness_2</mat-icon>
    </div>
  </div>
  <!-- <div class="footer">
      <button class="button-footer" mat-button color="primary" routerLink="/options">
        <i class="material-icons" id="icon-back">chevron_left</i>
    </button>
  </div> -->
</div>