hr{
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 7em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    height: 80vh;
}
// .header {
//     display: flex;
//     justify-content: center;
// }
    
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  

  .brightness{
      display: flex;
      align-items: center;
  }
  .sleep-mode{
    display: flex;
    align-items: center;
}

mat-slider{
    margin:10px; 
 
}

 