  <div class="row align-items-center">
    <div class="col-sm-4">
      <div class="card text-center mb-3" style="width: 20rem;">
        <div class="card-body">
          <img class="img-fluid" src="assets/images/wifi-icon.png">
          <h3 class="card-title">WiFi</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center mb-3" style="width: 20rem;">
        <div class="card-body">
          <img class="img-fluid" src="assets/images/theme-icon.png">
          <h3 class="card-title">Thema's</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center mb-3" style="width: 20rem;">
        <div class="card-body">
          <img class="img-fluid" src="assets/images/location-icon.png">
          <h3 class="card-title">Locatie</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-4">
      <div class="card text-center mb-3" style="width: 20rem;">
        <div class="card-body">
          <img class="img-fluid" src="assets/images/display-icon.png">
          <h3 class="card-title">Scherm</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center mb-3" style="width: 20rem;" (click)="openModalUsers()">
        <div class="card-body">
          <img class="img-fluid" src="assets/images/user-icon.png">
          <h3 class="card-title">Users</h3>
        </div>
      </div>
    </div>
  </div>
