<mat-toolbar>
  <mat-toolbar-row class="test">
    <span class="example-spacer"></span>

    <button mat-raised-button class="example-icon" color="primary" routerLink="/calendar">
        <mat-icon>calendar_today</mat-icon>
      </button>

    <button mat-raised-button class="example-icon" color="primary">
      <mat-icon>note</mat-icon>
    </button>

    <button mat-raised-button class="example-icon" color="primary" routerLink="/options">
      <mat-icon>settings</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>