.container{
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    height: 100%;
    //background-color: #F4F1EA;
    //padding: 1rem;
    border-radius: 0px;

}

.date-item{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}
.weather-date-item{

}
.calendar-list-item{

}

