<div class="weather__card" [ngClass]="{'weather__card-dark': darkMode}" (messageLocationEvent)="receveMessage($event)">
  <div class="temperature-text__container">
      <!-- <span class="city-name__text">Antwerpen</span> --> 
    <div class="temp">
        <span class="temperature__text">{{ today | date:'d' }}</span>
    </div>
       <span class="weather-condition__text">{{ today | date:'MMM' }}</span>
</div> 
<div class="weer_rechts">
  <div class="temp">
      <span class="temperatuur_text">{{ currentTemp }}</span>
      <span class="celsius_symbool">°C</span>
  </div>
  <div class="weather-icon__container" [ngSwitch]="true">   
    <img *ngSwitchCase="condition === 'Clouds'" src="assets/images/cloudy.svg" >
    <img *ngSwitchCase="condition === 'Drizzle'" src="assets/images/rainy-2.svg">
    <img *ngSwitchCase="condition === 'Rain'" src="assets/images/rainy-6.svg"  >
    <img *ngSwitchCase="condition === 'Storm'" src="assets/images/thunder.svg"  >
    <img *ngSwitchCase="condition === 'Mist'" src="assets/images/cloudy-day-1.svg"  >
    <img *ngSwitchCase="condition === 'Clear' || condition === 'Sunny'" src="assets/images/day.svg"  >
    <img *ngSwitchCase="condition === 'Snow'" src="assets/images/snowy-5.svg"  >
  </div> 
</div>
  
</div>
