<div class="container">
  <div class="header">
    <h1>Thema</h1>
  </div>
  <div class="main">
    <mat-card class="digilender-theme">
      <mat-card-content class="vertical-stripes-digilender">
      </mat-card-content>
      <button mat-button class="button-thema">
        <mat-card-actions>
          Digilender
        </mat-card-actions>
      </button>
    </mat-card>

    <mat-card class="scandinavishe-theme">
      <mat-card-content class="vertical-stripes-scandinavishe">
      </mat-card-content>
      <button mat-button class="button-thema" >
        <mat-card-actions>
          Scandinavishe
        </mat-card-actions>
      </button>
    </mat-card>

  </div>
  <div class="footer">
    <button class="button-footer" mat-button color="primary" routerLink="/options">
      <i class="material-icons" id="icon-back">chevron_left</i>
    </button>
  </div>
</div>