hr{
  margin-bottom: 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 7em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
  height: 70vh;
}
// .header {
//     display: flex;
//     justify-content: center;
// }
    
  .main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  mat-card{
      flex-basis: 25%;
      padding: 0 0;
      
  }

  mat-card-actions{
    margin: 0;
    padding: 0;
}

mat-card-content{
    margin: 0;
}

.button-thema{
    width: 100%;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
 
 
  .vertical-stripes-digilender {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: repeating-linear-gradient( 
    90deg,
    #F47E44,
    #F47E44 20%,
    #2495D3 20%,
    #2495D3 40%,
    #96CCEA 40%,
    #96CCEA 60%,
    #FACA13 60%,
    #FACA13 80%,
    #F9B28F 80%,
    #F9B28F 100%
    );
    height: 200px;
    width: 100%;
  }
  .vertical-stripes-scandinavishe{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: repeating-linear-gradient( 
        90deg,
        #77848C,
        #77848C 20%,
        #F4F1EF 20%,
        #F4F1EF 40%,
        #E1AD55 40%,
        #E1AD55 60%,
        #A8B9C8 60%,
        #A8B9C8 80%,
        #EEACA5 80%,
        #EEACA5 100%
        );
        height: 200px;
        width: 100%;
  }

  .current{
    border-radius: 7px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
  }






