<hr>
<div class="container" *ngIf="notes && (notes.length > 0)">
    <mat-card *ngFor="let note of notesProm | async" class="note" [style.backgroundColor]="findUser(note.resourceId).eventColor">
    <button class="remove-button" mat-mini-fab color="primary"
      (click)="deleteNote(note)">
      <mat-icon>close</mat-icon>
    </button>
      <mat-card-title>{{findUser(note.resourceId).title}}</mat-card-title>
      <mat-card-content class="note-content" ><p>{{note.text}}</p></mat-card-content>
    </mat-card>
</div>
<div *ngIf="!notes || (notes.length == 0)">
  <div id=no-events>
      <h3>Nog geen berichten.</h3>
      <h3>Raak de knop rechtsonder aan om toe te voegen</h3>
  </div>
</div>
<button class="add-button" mat-fab color="primary"
  (click)="openAdd()">
  <mat-icon>add</mat-icon>
</button>

<jw-modal id="add-note" style="text-align: center;">
  <mat-card id="add-note-body" color="white">
    <button class="close-add-button" mat-mini-fab color="primary"
      (click)="closeAdd()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-header style="display: flex; justify-content: center">
      <mat-card-title id="title">Nieuwe notitie</mat-card-title>
    </mat-card-header>
    <mat-card-content id="detail-content">
    <mat-form-field appearance="outline">
      <mat-label>Van</mat-label>
      <mat-select [(value)]="resourceIdDropdown" *ngIf="users">
        <mat-option *ngFor="let user of users"
          [value]="user.id">
          {{user.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Boodschap</mat-label>
      <textarea matInput [(ngModel)]="noteText"></textarea>
    </mat-form-field>
    </mat-card-content>
    <button mat-flat-button class="confirm-add-button" color="primary"
      (click)="confirmAdd()">
      Opslaan
    </button>
  </mat-card>
</jw-modal>
