
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    // background-image: url('../../assets/background/achtergrond-01.png');
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
   // filter: blur(8px);
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-image: url('../../assets/background/achtergrond-01.png');
    height: 100vh;
    max-width: 100%;
  
  //  filter: blur(3px);
  }

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

mat-horizontal-stepper{
    background-color: transparent;
}
.matStepperButton-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;

}


#icon-back, #icon-next, #icon-check{
 font-size: 3em;
 color:black;

}
.button-footer {
    height: 64px; 

}

#icon-next{
    animation: bounce 0.5s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
    
}


@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(10px, 0, 0); }
  }

  #icon-check{
    //animation: colorchange 1s;

     animation: bounceIn 0.6s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
}

@keyframes bounceIn {
    from { transform: scale(1) translate3d(0, 0, 0);
          }
    to   { transform: scale(1.2) translate3d(0, 0, 0); 
       }
  }

  mat-progress-spinner{
      position: absolute;
  }

//   @keyframes colorchange
// {
//  0%   {color: white;}
// //  25%  {color: yellow;}
// //  50%  {color: blue;}
// //  75%  {color: green;}
//  100% {color: #33cc33;}
// }