<head>
    <!-- <link href='fullcalendar.css' rel='stylesheet' />
    <link href='scheduler.css' rel='stylesheet' />
    <script src='moment.js'></script>
    <script src='jquery.js'></script>
    <script src='fullcalendar.js'></script>
    <script src='scheduler.js'></script> -->
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
<div>
    <div id='calendar' (click)="openModal('Event')"></div>
</div>

<jw-modal id="Event">
    <h1>Add a new event</h1>
    <h2>Selected date and time: {{selectedDate}}</h2>

    <div class="row justify-content-start">
        <div class="col-1">
            <p class="title">Title:</p>
        </div>
        <div class="col-15">
            <input class="form-control" type="text" id="Title" formControlName="Title">
        </div>
    </div>
</jw-modal>