<head>
    <!-- <link href='fullcalendar.css' rel='stylesheet' />
    <link href='scheduler.css' rel='stylesheet' />
    <script src='moment.js'></script>
    <script src='jquery.js'></script>
    <script src='fullcalendar.js'></script>
    <script src='scheduler.js'></script> -->
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
<div>
    <div id='calendar' (click)="openModal('Event')"></div>
</div>

<jw-modal id="Event">
    <h1>Add a new event</h1>
    <h2>Selected date and time: {{selectedDate}}</h2>

    <p class="title">Title</p>
    <input type="text" id="Title">

    <p class="title">Description</p>
    <input type="text" id="Description">

    <br><br><button type="button" mdbBtn color="info" mdbWavesEffect style="width: 300px">Save</button>
</jw-modal>