/* You can add global styles to this file, and also import other style files */
/* MODAL STYLES
-------------------------------*/
//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "theme.scss";

jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .jw-modal-body {
      background: transparent;

      /* margin exposes part of the modal background */
      margin: 150px;
      margin-right: 450px;
      margin-left: 450px;
    }
  }

  .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #fff;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

.fc-cell-content {
  min-height: 100px !important;
}

.fc-time-grid .fc-slats td {
  height: 100px !important;
  border-bottom: 0;
}

// Dit zou een minimum weergave grootte geven aan een event
.fc-ltr .fc-time-grid .fc-event-container {
  min-height: 1.4rem;
  font-size: 1.6em;
  line-height: 1.4rem;
}

.fc-time-grid-event.fc-short .fc-time:before {
  content: none;
}

// Buttons in de header voor prev en volgende maand
#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-center > button {
  border: none;
  box-shadow: none;
  background: none;
}

#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-center > button:focus {
  outline: none;
}

// Titel
#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-center > h2 {
  color: #fb743d;
}

// Header
#calendar > div.fc-toolbar.fc-header-toolbar {
  height: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#calendar > div.fc-view-container {
  border-top-color: #2396cf;
  border-top-width: 2px;
  border-top-style: solid;
}

//  onderstaande werkt niet 
//  grafiek/raster onder de namen
//  #calendar > div.fc-view-container > div > table > tbody {
//   border-color: none !important;
//   border-top-color: yellow !important;
//   border-left-color: none !important;
//   border-right-color: none !important;
// }

// Lijntje boven de namen
#calendar > div.fc-view-container > div > table > thead {
  border-top-color: blue !important;
  border-left-color: none !important;
  border-right-color: none !important;
}

// Verwijderen van all onnodige lijnen + kleur aan lijnen waar nodig en styling:
// Individuele naam cellen
.fc th.fc-resource-cell {
  border: 0px;
}

// Individuele tabel items van naamheader
#calendar > div.fc-view-container > div > table > thead > tr > td {
  border-right: 0px;
  border-top: 0px;
  //border-bottom: 0px; lijn onder namen
  border-left: 0px;
  border-color: #faca13;
}

// Body van de tabel
#calendar > div.fc-view-container > div > table > tbody > tr > td {
  border: 0px;
  border-top-width: 2px;
}

// Verticale lijnen verwijderen: in de tabel zelf
#calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div.fc-bg > table > tbody > tr > td {
  border: 0px;
}

// In de linkse kolom
#calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div.fc-slats > table > tbody > tr > td:nth-child(2) {
  border-left: 0px;
  border-right: 0px;
  border-color: #faca13;
}

// Lijntje links van de namen
#calendar > div.fc-view-container > div > table > thead > tr > td > div > table > thead > tr > th.fc-axis.fc-widget-header {
  border: 0px;
}

// Linkse kolom algemene instellingen
#calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div.fc-slats > table > tbody > tr > td.fc-axis.fc-time.fc-widget-content {
  margin: 0 auto;
  border-left: 0px;
  border-right: 0px;
  border-color: #faca13;
  color: #2495d3;
  font-family: "Nunito", sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 0.9;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}

// Linkse kolom: eerste lijn (dag van de maand)
#calendar > div.fc-view-container > div > table > tbody > tr > td > div > div > div.fc-slats > table > tbody > tr > td.fc-axis.fc-time.fc-widget-content::first-line {
  color: #faca13;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
}

// Header met namen
#calendar > div.fc-view-container > div > table > thead > tr > td > div {
  border-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #2495d3;
}

// Font grootte voor namen
#calendar > div.fc-view-container > div > table > thead > tr > td > div > table > thead > tr > th {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
}

// Witte achtergrond
.fc-today {
  background: #fff !important;
}
