/* You can add global styles to this file, and also import other style files */
/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .jw-modal-body {
      background: transparent;

      /* margin exposes part of the modal background */
      margin: 150px;
      margin-right: 450px;
      margin-left: 450px;
    }
  }

  .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #fff;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

.fc-cell-content {
  min-height: 100px !important;
}

.fc-time-grid .fc-slats td {
  height: 100px !important;
  border-bottom: 0;
}

//dit zou een minimum weergave grootte geven aan een event
.fc-ltr .fc-time-grid .fc-event-container {
  min-height: 1rem;
  font-size: 1.3em;
}

.fc-time-grid-event.fc-short .fc-time:before {
  content: none;
}
//buttons in de header voor prev en volgende maand
#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-center > button {
  border: none;
  box-shadow: none;
  background: none;
}
#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-center > button:focus {
  outline: none;
}
//titel
#calendar > div.fc-toolbar.fc-header-toolbar > div.fc-center > h2 {
  color: #fb743d;
}

//header
#calendar > div.fc-toolbar.fc-header-toolbar {
  height: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}
#calendar > div.fc-view-container {
  border-top-color: #2396cf;
  border-top-width: 2px;
  border-top-style: solid;
}
body > app-root > app-home > div > div.column-2.container-home-left > div.weather-item > app-weather > div

 //onderstaande werkt niet 
 //grafiek/raster onder de namen
 #calendar > div.fc-view-container > div > table > tbody {
  border-color: none !important;
  border-top-color: yellow !important;
  border-left-color: none !important;
  border-right-color: none !important;
}
//lijntje boven de namen
#calendar > div.fc-view-container > div > table > thead {
  border-top-color: blue !important;
  border-left-color: none !important;
  border-right-color: none !important;
}
