<head>
    <!-- <link href='fullcalendar.css' rel='stylesheet' />
    <link href='scheduler.css' rel='stylesheet' />
    <script src='moment.js'></script>
    <script src='jquery.js'></script>
    <script src='fullcalendar.js'></script>
    <script src='scheduler.js'></script> -->
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
<div>
    <i class="material-icons" src="assets/images/gear-icon.png" (click)="goToOptions()">Settings</i>
    <div id='calendar'></div>
</div>

<jw-modal id="event">
    <div class="event-body" style="padding: 20px; background: #ffffff">
        <h1>Add a new event</h1>

        <div class="md-form input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg">Title</span>
            </div>
            <input type="text" class="form-control" aria-describedby="inputGroupMaterial-sizing-lg" [(ngModel)]="eventTitle">
        </div>

        <div class="md-form input-group">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon">Description</span>
            </div>
            <textarea class="md-textarea form-control" [(ngModel)]="eventDescription"></textarea>
        </div>

        <br><br>
        <div class="row">
            <div class="col">
                <button type="button" mdbBtn color="info" mdbWavesEffect style="width: 300px" (click)="addEvent()">Save</button>
            </div>
            <div class="col">
                <button type="button" mdbBtn color="danger" mdbWavesEffect style="width: 300px" (click)="closeModal('event')">Cancel</button>
            </div>
        </div>
    </div>
</jw-modal>

<jw-modal id="event-detail" style="text-align: center">
    <div id="event-detail-body" style="padding: 20px; margin-left: 350px; margin-right: 350px">
        <h2>{{selectedUserTitle}}</h2>
        <p>{{selectedEventTitle}}</p>
        <p>{{selectedEventDescription}}</p>
    </div>
</jw-modal>