<div class="container-calendar">
    <!-- <head>
    <link href='fullcalendar.css' rel='stylesheet' />
    <link href='scheduler.css' rel='stylesheet' />
    <script src='moment.js'></script>
    <script src='jquery.js'></script>
    <script src='fullcalendar.js'></script>
    <script src='scheduler.js'></script> 
</head> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
    <div id='calendar'></div>

    <button class="add-event-botton" mat-fab color="primary" (click)="openModal('event', false)">
        <mat-icon>add</mat-icon>
    </button>

    <jw-modal id="event">
        <mat-card id="event-body" style="padding: 20px;">

            <mat-card-header style="display: flex; justify-content: center">
                <mat-card-title id="title">Nieuw evenement</mat-card-title>
            </mat-card-header>

            <div class="title-note-container">
                <mat-form-field appearance="fill">
                    <mat-label>Titel</mat-label>
                    <input matInput type="text" placeholder="Titel invoeren" [(ngModel)]="eventTitle">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Notitie</mat-label>
                    <textarea matInput placeholder="Notitie invoeren" [(ngModel)]="eventDescription"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="eventButton">
                    <mat-label>Gezinslid</mat-label>
                    <mat-select [(value)]="userFromDropdown">
                        <mat-option *ngFor="let user of users" [value]="user.id">
                            {{user.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="!eventButton">
                    <mat-label>Gezinslid</mat-label>
                    <input matInput type="text" disabled value="{{selectedUserTitle}}">
                </mat-form-field>

                <mat-form-field class="date-picker" appearance="fill" (click)="picker.open()">
                    <mat-label>Datum</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Kies
                        een datum"
                        [(ngModel)]="dateFromPicker" [disabled]="!eventButton">
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
            </div>

            <div class="time-container">
                <mat-form-field class="input-time-item" appearance="fill">
                    <mat-label>Start tijd</mat-label>
                    <input matInput type="text" [(ngModel)]="selectedStartTime" [ngxTimepicker]="fullTimeStart" [format]="24">
                    <ngx-material-timepicker #fullTimeStart (closed)="updateEndTime()"></ngx-material-timepicker>
                    <mat-icon matSuffix>access_time</mat-icon>
                </mat-form-field>

                <mat-form-field class="input-time-item" appearance="fill">
                    <mat-label>Eind tijd</mat-label>
                    <input matInput type="text" [(ngModel)]="selectedEndTime" [ngxTimepicker]="fullTimeEnd" [format]="24" [min]="selectedStartTime">
                    <ngx-material-timepicker #fullTimeEnd></ngx-material-timepicker>
                    <mat-icon matSuffix>access_time</mat-icon>
                </mat-form-field>
            </div>

            <mat-card-actions class="buttons-event-container">
                <button mat-raised-button color="warn" (click)="closeModal('event')">Annuleren</button>
                <button mat-raised-button color="primary" (click)="addEvent()">Toevoegen</button>
            </mat-card-actions>

        </mat-card>
    </jw-modal>

    <jw-modal id="event-detail" style="text-align: center;">
        <mat-card id="event-detail-body" style="padding: 20px; margin-left: 35%;
            margin-right: 35%; margin-top: 35%; color: white">
            <mat-card-header style="display: flex; justify-content: center">
                <mat-card-title id="detail-title">{{selectedUserTitle}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{selectedEventTitle}}</p>
                <p>{{selectedEventStart}} - {{selectedEventEnd}}</p>
                <p>{{selectedEventDescription}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="closeModal('event-detail')">Ok</button>
            </mat-card-actions>
        </mat-card>
    </jw-modal>