.btn-group {
	float: right;
}

.btn-group button {
	background-color: #2396cf;
	border-radius: 10%;
	box-shadow: none;
	margin-left: 0.5rem;
	border: none;
}

.btn-group > button:focus {
	outline: none;
}

.btn-group button .header-icons {
	width: 30px;
}

// .container-calendar{
//     position: relative;
//     padding-left: 0.5rem;
//     padding-right: 0.5rem;
// }

.add-event-botton {
	position: absolute;
	bottom: 20px;
	right: 40px;
	z-index: 1;
}

.title-note-container {
	display: flex;
	flex-direction: column;
}

.title-note-container > * {
	width: 100%;
}

.time-container {
	display: flex;
	justify-content: space-between;
}

.input-time-item {
	width: 49%;
}

.buttons-event-container {
	display: flex;
	justify-content: flex-end;
}

.buttons-event-container > * {
	width: 20%;
	margin-left: 5px;
}

#calendar {
	padding-left: 5px;
	padding-right: 5px;
}

#event-body {
	padding: 4%;
}

#event-detail-body {
	padding: 5%;
	margin-top: 40%;
	margin-left: 20%;
	margin-right: 20%;
	color: white;
}

#detail-title {
	font-size: 2em;
}

#detail-content {
	font-size: 1.3em;
}

.delete-event-button {
	position: absolute;
	bottom: 1%;
	right: 1%;
}