.btn-group{
    float: right;
}
.btn-group button{
    background-color: #2396CF;
    border-radius: 10%;
    box-shadow: none;
    margin-left: 0.5rem;
    border:none;
}
.btn-group> button:focus{outline: none; }
.btn-group button .header-icons{
    width: 30px;
}
.container-calendar{
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.add-event-botton{
    position:absolute;
    bottom:20px;
    right:20px;
    z-index: 1;
}
.title-note-container{
    display: flex;
  flex-direction: column;
}

.title-note-container > *{
    width: 100%;
}

.time-container{
    display: flex;
    justify-content: space-between;
}

.input-time-item{
    width: 49%;
}

.buttons-event-container{
    display: flex;
    justify-content: flex-end;
}
.buttons-event-container>*{
    width: 20%;
    margin-left: 5px;
    
}
