<head>
    <!-- <link href='fullcalendar.css' rel='stylesheet' />
    <link href='scheduler.css' rel='stylesheet' />
    <script src='moment.js'></script>
    <script src='jquery.js'></script>
    <script src='fullcalendar.js'></script>
    <script src='scheduler.js'></script> -->
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
<div>
    <div class="btn-group">
        <button>
            <img class="header-icons " src="assets/images/round_add_white_48dp.png">
        </button>
        <button>
            <img class="header-icons" src="assets/images/round_mail_white_48dp.png">
        </button>
        <button>
            <img class="header-icons" src="assets/images/round_settings_white_48dp.png" (click)="goToOptions()">
        </button>
    </div>
    <div id='calendar'></div>
</div>

<jw-modal id="event">
    <div id="event-body" style="padding: 20px; border-radius: 25px; color: white" >
        <h1>Add a new event</h1>

        <div class="md-form input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-lg" style="color: white">Title</span>
            </div>
            <input type="text" class="form-control" aria-describedby="inputGroupMaterial-sizing-lg" style="color: white" [(ngModel)]="eventTitle">
        </div>

        <div class="md-form input-group">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon" style="color: white">Description</span>
            </div>
            <textarea class="md-textarea form-control" style="color: white" [(ngModel)]="eventDescription"></textarea>
        </div>

        <div class="row">
            <div class="col">
                <div class="md-form input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" style="color: white">Start time</span>
                    </div>
                    <input atp-time-picker type="text" class="form-control" aria-describedby="inputGroupMaterial-sizing-default" style="color: white" [(ngModel)]="selectedStartTime">
                </div>
            </div>
            <div class="col">
                <div class="md-form input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" style="color: white">End time</span>
                    </div>
                    <input atp-time-picker type="text" class="form-control" aria-describedby="inputGroupMaterial-sizing-default" style="color: white" [(ngModel)]="selectedEndTime">
                </div>
            </div>
        </div>

        <br><br>
        <div class="row">
            <div class="col">
                <button type="button" mdbBtn color="info" mdbWavesEffect style="width: 300px" (click)="addEvent()">Save</button>
            </div>
            <div class="col">
                <button type="button" mdbBtn color="danger" mdbWavesEffect style="width: 300px" (click)="closeModal('event')">Cancel</button>
            </div>
        </div>
    </div>
</jw-modal>

<jw-modal id="event-detail" style="text-align: center; color: white" (mousedown)="closeModal('event-detail')">
    <div id="event-detail-body" style="padding: 20px; margin-left: 20%; margin-right: 20%; margin-top: 20%; border-radius: 25px">
        <h2><b>{{selectedUserTitle}}</b></h2>
        <p>{{selectedEventTitle}}</p>
        <p>{{selectedEventDescription}}</p>
        <p>{{selectedEventTime}}</p>
    </div>
</jw-modal>