.container-home{
  display: grid;
  grid-template-areas:
    "nav content";
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;
  height: 100vh;
}
.container-home-left{
  grid-area: nav;
  
}

.container-home-calendar{
  grid-area: content;
  
}

