
.container-home{
  display: flex;
  flex-wrap: nowrap;
  height:100vh;
}
.container-home-left{
  background-color: #F4F1EA;
  //width: 20%; de weercomponent wordt niet mee kleiner dus beter dat de sidebar niet kleiner kan worden dan column-2
  padding: 1rem;
}

.container-home-calendar{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.material-icons {
  font-size: 48px;
}


.img-fluid {
  position: absolute;
  top: 15px;
  right: 255px;
  width: 50px;
  z-index: 10;
}

.img-fluid:active {
  transform: rotate(20deg);
}

.backarrow {
  position: absolute;
  top: 30%;
}
 div.column-2.container-home-left >p{
   color: #2396CF;
   padding-top: 1em;
 }
