.container-home{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100vh auto;
    grid-template-areas:
      "status content";
    //height: 100vh;
  }
  .container-status-panel{
    grid-area: status;
    
  }
  
  .container-home-content{
    grid-area: content;
  }
  
  .toolbar{
    position: absolute;
    top: 1.7%;
    left: 88%
    
  }
  
  
  