<div class="row">
  <div class="col-md-11">

  </div>
  <div class="col-md-1">
    <img class="img-fluid" *ngIf="isLeftVisible" src="assets/images/gear-icon.png" (click)="isLeftVisible = !isLeftVisible" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <slide-panel [activePane]="isLeftVisible ? 'left' : 'right'">

      <!-- The main panel -->
      <div leftPane class="row">
        <div class="col-md-3">
          <app-weather></app-weather>
        </div>
        <div class="col-md-9">
          <app-calendar></app-calendar>
        </div>
      </div>

      <!-- The options panel -->
      <div rightPane class = "row">
        <div class = "col-sm-1">
            <img class="backarrow" src="assets/images/back-arrow.png" width="150px" *ngIf="!isLeftVisible" (click)="isLeftVisible = !isLeftVisible">
        </div>
        <div class="col-sm-1"></div>
        <div class = "col-sm-10">
            <app-options></app-options>
        </div>
        
      </div>
    </slide-panel>
  </div>

</div>