<!-- <h3>Digilender</h3>
<p>Sync met je Google Calendar</p>

<div *ngIf="auth.user$ | async as user">
  <h3>Logged in as {{ user.displayName }}</h3>
  <img src="{{ user.photoURL }}" width="50px">
  <button (click)="auth.logout()">Logout</button>

  <button (click)="auth.getCalendar()">Get Google Calendar</button>

  <button (click)="auth.insertEvent()">Add Event</button>

  <div *ngFor="let item of auth.calendarItems">
    <h3>{{ item.summary }} - {{ item.status }}</h3>
    <p><em>Created {{ item.created }}</em></p>
    <p>{{ item.description }}</p>
  </div>
</div> 

<button (click)="login()">Login with Google</button>-->

<!-- Purple Header -->
<div class="edge-header white"></div>

<!-- Main Container -->
<div class="container free-bird">
  <div class="row">
    <div class="col-md-8 col-lg-7 mx-auto float-none white z-depth-1 py-2 px-2">
      <!--Naked Form-->
      <div class="card-body">
        <h2 class="h2-responsive"><strong>Sync met Google Calendar</strong></h2>
        <!--Body-->
        <form action="#">
          <div class="text-xs-left">
            <button class="btn btn-primary" (click)="login()">Google Calendar</button>
          </div>
        </form>
      </div>
      <!--Naked Form-->
    </div>
  </div>
</div>
<!-- /.Main Container -->